%div.comments-list
  - Comment.order(created_at: :desc).each do |comment|
    %div.comment-card{ id: dom_id(comment) }

      %div.comment-meta
        %div.comment-wiki{ style: "color: #999; font-weight: bold;"}
          = t('admin.tab_view_comments.tab_comments_th_wiki') + ': '
          = link_to raw(comment.site&.name),
            (comment.site.url.presence || comment.site),
            target: "_blank",
            rel: "noopener",
            title: t('admin.tab_view_comments.tab_comments_view_open_wiki'),
            style: "font-weight: normal; text-decoration: none;"
          = " ⮺"

        %div.comment-user.small
          = comment.user.username + ', '
          = l(comment.created_at, format: :long)
          - if comment.edited_at.present?
            %small 
            = t('comments.edited')
            = l(comment.edited_at, format: :long)

      %div.comment-row
        %div.comment-body
          = t('comments.title_singular') + ': '
          = link_to truncate(comment.body, length: 500),
            site_comments_path(comment.site),
            title: comment.body,
            target: :blank,
            style: "font-weight: normal; color: #999; text-decoration: none;"
          = " ⮺"

        %div.comment-actions
          - if user_signed_in? && user_is_admin?
            = link_to '🗑️',
              admin_comments_view_path(comment),
              method: :delete,
              data: { confirm: t('comments.delete_confirm') },
              class: "delete-btn btn-danger",
              title: t('comments.delete_button')
