%select#mobile-settings-tabs.form-select
  %option{ value: "general" } ⚙️ #{t('admin.tab_settings_subtab.general')}
  %option{ value: "community" } 👥 #{t('admin.tab_settings_subtab.community')}
  %option{ value: "hub" } 🌐 #{t('admin.tab_settings_subtab.hub')}
  %option{ value: "subscription" } 💳 #{t('admin.tab_settings_subtab.subscription')}
  %option{ value: "storage" } 💾 #{t('admin.tab_settings_subtab.storage')}
  %option{ value: "locales" } 🌍 #{t('admin.tab_settings_subtab.locales')}
