.setting-row.mt-3
  %h6
    - if setting[:group] == 'locales'
      - loc = setting[:key].to_s.sub("locale_enabled_", "").to_sym
      = flag_emoji_for(loc)
      = " "

    = setting[:label]

    - if setting[:group] == 'locales'
      - loc = setting[:key].to_s.sub("locale_enabled_", "").to_sym
      - current_default = Setting.string_for(:default_locale, default: "en").to_sym

      - if loc == I18n.locale
        %span.badge.bg-info.ms-2
          = t('admin.locale_language_badge_current')

      - if loc == current_default
        %span.badge.bg-primary.ms-2
          = t('admin.locale_language_badge_default')

  %p.text-muted.small= setting[:description]

  - if setting[:type] == :boolean
    .form-check.form-switch
      = hidden_field_tag "settings[#{setting[:key]}]", "0"
      = check_box_tag "settings[#{setting[:key]}]", "1", setting[:current_value],
          class: "form-check-input",
          id: "setting_#{setting[:key]}"
      = label_tag "setting_#{setting[:key]}", t('admin.tab_settings.aktivate'), class: "form-check-label"

  - elsif setting[:type] == :integer
    .input-group.w-25
      = number_field_tag "settings[#{setting[:key]}]", 
                         setting[:current_value],
                         min: setting[:min] || 1,
                         max: setting[:max] || 100,
                         class: "form-control"

      .input-group-text
        = setting[:suffix].presence || t('admin.max_tags_per_site.suffix')