.user-links
  .p-1{ style: "margin-bottom: -30px;" }

    .d-flex.gap-1.align-items-center      
          
      = link_to "\u{1F844} #{t('comments.back_to_previous_page')}", request.referer,
            class: 'btn btn-outline-success px-4'

      = turbo_off_link_to admin_user_path(user), class: "text-decoration-none" do
        👤
        %span.ms-1{ style: "margin: 0; font-weight: bold; font-size: 0.8rem;" }
          %span{ style: "margin: 0; font-size: 0.8rem; color: #179b5b;" }= "'#{@user.name}'"
        = t('admin.tab_sites_user_links.view_user_data')

      - if user.has_hub_link?
        = link_to hub_user_url(user.name),
            target: "_blank",
            class: "text-decoration-none invert" do
          <span style="margin: 0; font-size: 1.1rem; display:inline-block; transform: scaleX(-1);">👀</span>
          %span.ms-1{ style: "margin: 0; font-size: 0.8rem;" }
            %span{ style: "margin: 0; font-weight: bold; font-size: 0.8rem; color: #179b5b;" }= "'#{@user.name}'"
          = t('admin.tab_sites_user_links.view_hub_sites')
