%h2=t('admin.tabs_header.charts')
= render 'tabs'

%h3
  - icon = AdminChartData::CHART_ICONS[@chart_data[:name]] || "📊"
  = "#{icon} #{t("admin.charts.#{@chart_data[:name]}", default: @chart_data[:name].titleize)}"
  = render "chart_menu"

= render 'line_chart', chart_data: @chart_data
