%h2
  = t('admin.tab_users.users_edit_user_account_heading') + (':')
  %span{ style: "color: #179b5b;" }
    = " #{@user.name} #{@user.username}"

%div.card{ style: "margin: 0 auto; max-width: 800px;" }
  %div.card-body
  
    %h2= t('admin.tab_users.users_edit_user_account_edit')
    - if @user.errors.any?
      .alert.alert-danger
        %strong Fehler beim Speichern:
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg
    
    = form_with model: @user,
        url: update_admin_user_path(@user),
        method: :patch,
        data: { turbo: false } do |f|
    
      .mb-3
        = f.label t('admin.tab_users.users_name')
        = f.text_field :name, class: "form-control"
    
      .mb-3
        = f.label t('admin.tab_users.users_email')
        = f.email_field :email, class: "form-control"
    
      .mb-3
        = f.label t('admin.tab_users.users_username')
        = f.text_field :username, class: "form-control"
    
      - if @user == current_user
        .mb-3
          %label.form-label t('admin.tab_users.users_access_level')
          %div.form-control.bg-light.text-muted
            Superuser (nicht änderbar)
      - else
        .mb-3
          = f.label :user_type_id, t('admin.tab_users.users_access_level')
          = f.select :user_type_id,
              UserType.all.map { |t| [t.name, t.id] },
              {}, class: "form-control"
    
      %hr/
    
      %h4= t('admin.tab_users.users_edit_user_account_change_password')
    
      .d-flex.justify-content-between.align-items-center.mb-2
        %label.mb-0.mx-1= t('admin.tab_users.users_password')
        = f.password_field :password, id: "user_password", class: "form-control"
      
      .mb-3
        %label.mb-0= t('admin.tab_users.users_password_confirmation')
        = f.password_field :password_confirmation, id: "user_password_confirmation", class: "form-control"
      
        %br
        %button.btn.btn-sm.btn-secondary{ type: "button", data: { password_generator: true } }
          = t('admin.tab_users.users_password_generate')
      
        %div.mt-1{
          data: {
            password_strength: true,
            strength_texts: I18n.t("admin.password.strength").to_json
          }
        }
          = t('admin.tab_users.users_password_strength')
          %span{ data: { password_strength_value: true } } -
      
        %div.mt-1.fw-bold{ data: { password_plain: true } } <!-- Klartext-Passwort -->
    
      %hr/
    
      .d-flex.justify-content-between
        = f.submit t('admin.tab_users.users_edit_user_account_save_users_details'), class: "btn btn-primary"
      
        = link_to t('admin.tab_users.users_edit_user_account_cancel'),
            admin_user_path(@user),
            class: "btn btn-secondary"
