%h2= t("admin.tabs_header.settings")

= render 'tabs'
= render 'settings_tabs'

= form_with url: admin_settings_path, method: :patch, data: { turbo: false, controller: "settings-tab", active_tab: params[:active_tab] || 'general' } do |f|
            
  .tab-content.mt-4
    #general.tab-pane.fade.show.active{ role: "tabpanel" }
      - @settings.select { |s| s[:group] == 'general' }.each do |setting|
        = render 'setting_row', setting: setting

    #community.tab-pane.fade{ role: "tabpanel" }
      - @settings.select { |s| s[:group] == 'community' }.each do |setting|
        = render 'setting_row', setting: setting

    #hub.tab-pane.fade{ role: "tabpanel" }
      - @settings.select { |s| s[:group] == 'hub' }.each do |setting|
        = render 'setting_row', setting: setting

    #subscription.tab-pane.fade{ role: "tabpanel" }
      - @settings.select { |s| s[:group] == 'subscription' }.each do |setting|
        = render 'setting_row', setting: setting

    #storage.tab-pane.fade{ role: "tabpanel" }
      - @settings.select { |s| s[:group] == 'storage' }.each do |setting|
        = render 'setting_row', setting: setting
        
    #locales.tab-pane.fade{ role: "tabpanel" }

      = render 'default_locale_row'

      - @settings.select { |s| s[:group] == 'locales' && s[:key] != :default_locale }.each do |setting|
        = render 'setting_row', setting: setting

  .actions.mt-5
    = f.hidden_field :active_tab, id: "active_tab_field", value: params[:active_tab] || 'general'
    = f.submit t('admin.tab_settings.save'), class: "btn btn-primary"
    = link_to t('admin.tab_settings.cancel'), admin_path, class: "btn btn-outline-secondary ms-2 "