.container-fluid
  .row.mx-2.my-4.p-md-2.p-0

    .col-md-3.col-6
      %h6.text-muted= t('footer_version_header')
      %ul{ style: "padding-left: 0.5em; opacity: 70%;" }
        - unless Rails.env.production?
          %li=t('footer_version_environment_title')+ ": #{Rails.env}"
        %li
          = t('footer_version_version_title')+ ":"
          = link_to '/about' do
            = "#{Settings.app_version}"
        - if feature_enabled?(:admin)
          %li
            = t('footer_version_built_title')+ ":"
            = "#{nice_timestamp(DateTime.parse(Settings.build_info['date']))}"
        %li &copy; 2021-#{Time.now.year} Simon Baird

    .col-md-3.col-6
      %h6.text-muted
        = link_to '/about' do
          = t('footer_about_header')
      %ul
        %li
          = link_to Settings.faq_url, target: '_blank' do
            = bi_icon('patch-question')
            = t('about_links_faq')

        %li
          = link_to Settings.docs_url, target: '_blank' do
            = bi_icon('file-text')
            = t('footer_about_faq')

        %li
          = link_to t('footer_about_link_to_blog'), target: '_blank' do
            = bi_icon('newspaper')
            = t('footer_about_blog')

        %li
          = link_to t('footer_about_link_to_x'), target: '_blank' do
            = bi_icon('twitter-x')
            = t('footer_about_x')

    .col-md-3.col-6
      %h6.text-muted
        = link_to '/support' do
          = t('footer_support_header')

      %ul
        %li
          = link_to Settings.create_issue_url, target: '_blank' do
            = bi_icon('bug')
            = t('footer_support_report_issue')

        %li
          = link_to Settings.create_issue_url, target: '_blank' do
            = bi_icon('lightbulb')
            = t('footer_support_suggest_feature')

        %li
          = mail_to Settings.support_email do
            = bi_icon('envelope')
            = t('footer_support_send_email')

        %li
          = link_to '/donate' do
            = bi_icon('piggy-bank')
            = t('footer_support_donate')

    .col-md-3.col-6
      %h6.text-muted= t('footer_host_info_header')
      %ul
        %li
          = link_to '/terms-of-use' do
            = bi_icon('file-earmark-text')
            = t('footer_host_info_terms_of_use')

        %li
          = link_to '/privacy-policy' do
            = bi_icon('file-earmark-text')
            = t('footer_host_info_privacy_policy')

        %li
          = link_to "#{Settings.github_url}/blob/main/LICENSE.md", target: '_blank' do
            = bi_icon('file-earmark-check')
            = t('footer_host_info_software_license')

        %li
          = link_to Settings.github_url, target: '_blank' do
            = bi_icon('gem')
            = t('footer_host_info_source_code')            
  -#
    .col.md-6
      %br
      <center>      
      %ul
        %b= t('test')
        %br
        = t('test_ok')
