%li.dropdown-item-text
  = t('user_menu_head_account')
  %br
  %b.ps-1
    = turbo_off_link_to edit_user_registration_path, data: { turbo: false } do
      - if current_user.use_avatar?
        = avatar_image(current_user, size: 14, style: 'margin-top: -2px;')
      - else
        = bi_icon('person-fill', fill: '#bbb', style: 'margin-right: -2px;')
      = current_user.username_or_email

%li
  = turbo_off_link_to edit_user_registration_path, data: { turbo: false }, class: 'dropdown-item' do
    = bi_icon('person-square', fill: "#444", style: "margin-left: 2px;")
    = t('user_menu_item_manage_account')

- if feature_enabled?(:subscriptions)
  %li.dropdown-divider

  %li.dropdown-item-text
    = t('user_menu_head_plan')
    %br
    %b.ps-1
      = turbo_off_link_to subscription_path, data: { turbo: false }, class: "plan-#{current_user.subscription_info.name}-fg" do
        - if current_user.subscribed?
          = bi_icon('check2-circle', style: "margin-left: 1px; margin-right: -2px;")
        = (t('site_title')+" #{current_user.subscription_info.name}")

  %li
    = turbo_off_link_to subscription_path, data: { turbo: false }, class: 'dropdown-item' do
      - if current_user.subscribed?
        = bi_icon('bag-check', style: "margin-left: 1px;")
        = t('user_menu_head_plan')
      - else
        = bi_icon('stars', style: "margin-left: 1px; margin-right: -2px;", class: "red-icon")
        = t('user_menu_item_subscription_plans')

%li.dropdown-divider

%li.dropdown-item-text
  = t('user_menu_head_sites')
  %br
  %b.ps-2
    = turbo_off_link_to sites_path do
      #{current_user.all_sites.count} #{t('user_menu_item_counted_sites')}
      (#{nice_byte_count(current_user.total_storage_bytes)})
  %br

%li
  = turbo_off_link_to sites_path, class: 'dropdown-item' do
    = bi_icon('sliders')
    = t('user_menu_item_manage_sites')


%li.dropdown-divider{ style: "margin-bottom: 1.5em;" }

%li
  = form_with url: destroy_user_session_path, method: :delete, data: { turbo: false }, class: 'd-inline' do |f|
    %button.dropdown-item{ type: 'submit' }
      = bi_icon('box-arrow-left')
      = t('user_menu_item_logout')
