<!DOCTYPE html>
<html data-theme-mode="<%= theme_mode %>" data-bs-theme="<%= theme_mode %>" lang="<%= t('iso_language_code') %>">
  <head>
    <title><%= t('site_title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= favicon_link_tag asset_path('favicon.ico') %>
  
    <% if I18n.locale == :ko %>
      <%= preload_link_tag '/assets/SourceHanSerifKR-VF.otf.woff2', as: 'font', type: 'font/woff2', crossorigin: 'anonymous' %>
    <% elsif I18n.locale == :ja %>
      <%= preload_link_tag '/assets/SourceHanSerifJP-VF.otf.woff2', as: 'font', type: 'font/woff2', crossorigin: 'anonymous' %>
    <% elsif I18n.locale == :zh_CN %>
      <%= preload_link_tag '/assets/SourceHanSerifCN-VF.otf.woff2', as: 'font', type: 'font/woff2', crossorigin: 'anonymous' %>
    <% end %>

    <% if @need_stripe_js %>
      <script src="https://js.stripe.com/v3/"></script>
    <% end %>

    <% if @need_chart_js %>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/moment"></script>
      <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment"></script>
    <% end %>
  </head>

  <body class="locale-<%= I18n.locale.to_s.tr('_', '-') %>">
    
    <header>
      <%= render 'layouts/header' %>
    </header>
  
    <!-- Flash-Nachrichten -->
    <%= render "layouts/flash" %>

    <main>
      <%= render 'layouts/banner_message' if Settings.banner_message %>
      <div class="container-fluid">
        <%= yield %>
      </div>
    </main>

    <footer>
      <%= render 'layouts/footer' %>
    </footer>

  </body>
</html>