<!DOCTYPE html>
<html data-theme-mode="<%= theme_mode %>" data-bs-theme="<%= theme_mode %>" lang="<%= t('iso_language_code') %>">
  <head>
    <title><%= t('site_title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= favicon_link_tag asset_path('favicon.ico') %>

    <% if @need_stripe_js %>
      <script src="https://js.stripe.com/v3/"></script>
    <% end %>

    <% if @need_chart_js %>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/moment"></script>
      <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment"></script>
    <% end %>
  </head>

  <body>
    <header>
      <%= render 'layouts/header' %>
    </header>

    <!-- Flash-Nachrichten -->
    <div id="flash_messages">
      <% flash.each do |type, message| %>
        <div class="alert alert-<%= type == :notice ? 'success' : 'success' %> alert-dismissible fade show" role="alert">
          <%= message %>
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
      <% end %>
    </div>

    <main>
      <%= render 'layouts/banner_message' if Settings.banner_message %>
      <div class="container-fluid">
        <%= yield %>
      </div>
    </main>

    <footer>
      <%= render 'layouts/footer' %>
    </footer>

    <!-- Automatisches Ausblenden von Erfolgsmeldungen nach 3 Sekunden -->

  </body>
</html>