.nice-radio-container.access-chooser.enable-tooltips

  = f.label nil do
    = t('site_view_edit_wiki_access_heading')

  - if @site.redirect_to.present?
    .form-text.m-1.no-hover.fw-bold
      = bi_icon('exclamation-circle', fill: 'orange', style: 'margin-right: -1px;')
      Note: A redirect is in effect for this site. See details in <i>Advanced settings</i> below.

  - { 'private' => t('site_view_edit_wiki_access_private'),
      'public' => t('site_view_edit_wiki_access_public'),
      'hub_listed' => t('site_view_edit_wiki_access_hub_listed') }.each do |choice, choice_title|
    - is_selected = @site.send("access_#{choice}?")

    %div{ class: ('selected' if is_selected) }
      = label_tag do
        = radio_button_tag "_access_choice", choice, is_selected, class: 'me-1', style: "margin-left: -0.3em;"

        .title
          = access_icon(choice, style: "margin-right: 0;")
          = choice_title

        - case choice when "public"
          = render 'popover_help',
            html_content: t('site_view_edit_wiki_access_public_tooltip')
          .description
            = t('site_view_edit_wiki_access_public_description')

        - when "private"
          = render 'popover_help',
            html_content: t('site_view_edit_wiki_access_private_tooltip')
          .description
            - if controller_name == "tspot_sites"
              = t('site_view_edit_wiki_access_private_description_tspot_sites')
            - else
              = t('site_view_edit_wiki_access_private_description_else')

        - when "hub_listed"
          = render 'popover_help',
            html_content: text_join("#{t('site_view_edit_wiki_access_hub_listed_tooltip')}")
          .description
            = t('site_view_edit_wiki_access_hub_listed_description')
            = link_to(t('hub_view_sites_on_your_explore_page'), '/explore', target: "_blank")

  -#
    "_access_choice" is not a real attribute of the site record but these
    two are. There is some javascript in application.js that sets these
    when the user clicks one of the _access_choice options above.

  = f.hidden_field :is_private
  = f.hidden_field :is_searchable
