.nice-radio-container.access-chooser.enable-tooltips

  = f.label nil do
    Zugang

  - if @site.redirect_to.present?
    .form-text.m-1.no-hover.fw-bold
      = bi_icon('exclamation-circle', fill: 'orange', style: 'margin-right: -1px;')
      Note: A redirect is in effect for this site. See details in <i>Advanced settings</i> below.

  - { 'private' => 'Privat',
    'public' => 'Öffentlich',
    'hub_listed' => 'Öffentlich und durchsuchbar' }.each do |choice, choice_title|
    - is_selected = @site.send("access_#{choice}?")

    %div{ class: ('selected' if is_selected) }
      = label_tag do
        = radio_button_tag "_access_choice", choice, is_selected, class: 'me-1', style: "margin-left: -0.3em;"

        .title
          = access_icon(choice, style: "margin-right: 0;")
          = choice_title

        - case choice when "public"
          = render 'popover_help',
            html_content: "Am besten geeignet für Inhalte, die Du mit anderen teilen möchtest."
          .description
            Deine Seite wird im Internet zugänglich sein und von jedem angesehen werden können.

        - when "private"
          = render 'popover_help',
            html_content: "Am besten geeignet für private Notizen und Inhalte, die Du nicht im Internet sichtbar machen möchtest."
          .description
            - if controller_name == "tspot_sites"
              Für den Zugriff auf deine Seite ist ein Passwort erforderlich.
            - else
              Deine Seite ist nur für dich zugänglich.

        - when "hub_listed"
          = render 'popover_help',
            html_content: text_join("Am besten geeignet, um interessante, gut gepflegte Seiten zu präsentieren, die die Leute entdecken können.",
            "Beachte, dass der Name, die Beschreibung und die Tags auf der Schaufenster-Seite durchsuchbar sind.")
          .description
            Deine Seite wird im Internet zugänglich sein und auch angezeigt und durchsuchbar auf der 
            = link_to('Schaufenster-Seite', '/explore', target: "_blank")

  -#
    "_access_choice" is not a real attribute of the site record but these
    two are. There is some javascript in application.js that sets these
    when the user clicks one of the _access_choice options above.

  = f.hidden_field :is_private
  = f.hidden_field :is_searchable
