= render layout: 'form_wrapper', locals: { heading: heading } do

  = form_for @site do |f|

    - if @site.errors.any?
      = render layout: 'field_wrapper' do
        .alert.alert-danger
          %p #{pluralize(@site.errors.count, "error")} prevented this site from being saved:
          %ul
            - @site.errors.full_messages.each do |message|
              %li= message

    - if !@site.new_record? && @site.thumbnail.present? && @site.valid?
      .m-2.mb-4
        = render 'site_tile_clone', site: @site

    = render layout: 'field_wrapper', locals: { pt: 'pt-2' } do
      = f.label t('site_view_edit_wiki_name_label')
      = f.text_field :name, class: 'form-control', maxlength: 63, autofocus: @site.new_record?
      %small.form-text.text-muted #{t('site_view_edit_wiki_name_text')}

    - if @site.new_record?
      = render layout: 'field_wrapper' do
        - if @site_to_clone
          -# Show details about the site being cloned
          = f.label nil, t('site_view_edit_wiki_clone_from')
          = render 'site_tile_clone', site: @site_to_clone
          -# Pass the value through
          = hidden_field_tag(:clone, @site_to_clone.name)

        - else
          -# Show list of empties to choose from
          = render 'type_chooser', f:

    = render layout: 'field_wrapper' do
      = render 'access_chooser', f:

    = render layout: 'field_wrapper' do
      = f.label t('site_view_edit_wiki_description_label')
      = f.text_area :description, class: 'form-control'
      .form-text #{t('site_view_edit_wiki_description_text')}

    = render layout: 'field_wrapper' do
      = f.label :tag_list, t('site_view_edit_wiki_tag_list_label')
      = f.text_field :tag_list, class: 'form-control', value: @site.tag_list.to_s
      .form-text #{t('site_view_edit_wiki_tag_list_text')}

    = render layout: 'advanced_wrapper' do
      = render 'public_clone', f:
      = render 'site_common/allow_in_iframe', f:
      = render 'save_method_prefs', f:
      = render 'skip_etag_check', f:

    = render layout: 'field_wrapper', locals: { pt: 'pt-5' } do
      = f.submit @site.new_record? ? t('site_view_save_history_button_create') : t('site_view_save_history_button_update'), class: 'btn btn-primary'
      = link_to t('site_view_save_history_button_cancel'), sites_path, class: 'mx-4'
