= render layout: 'field_wrapper' do
  .form-check.enable-tooltips
    = f.check_box :allow_public_clone, class: 'form-check-input'
    = f.label :allow_public_clone, class: 'form-check-label' do
      = t('site_view_edit_wiki_advanced_settings_allow_public_clone')

      = render 'popover_help',
        html_content: t('site_view_edit_wiki_advanced_settings_allow_public_clone_tooltip')