- if @site.is_tw5? || @site.is_tw5x? || @site.new_record?

  = render layout: 'field_wrapper' do
    .form-check.enable-tooltips
      = f.check_box :prefer_upload_saver, class: 'form-check-input'
      = f.label :prefer_upload_saver, class: 'form-check-label' do
        Verwende den alten „Upload“-Speicher für TiddlyWiki-Versionen 5.2.3 und höher.

        = render 'popover_help',
          html_content: 'Standardmäßig wird der Put Saver für TiddlyWiki  |
            Versionen 5.2.3 und höher verwendet. Aktivieren Sie diese Option, wenn Sie stattdessen den |
            Upload Saver für diese TiddlyWiki-Versionen verwenden möchten. Siehe auch <a |
            href="https://github.com/tiddlyhost/tiddlyhost-com/wiki/About-the-two-different-save-methods" |
            target="_blank">diese FAQ</a>.' |

  = render layout: 'field_wrapper' do
    .form-check.enable-tooltips
      = f.check_box :prefer_put_saver, class: 'form-check-input'
      = f.label :prefer_put_saver, class: 'form-check-label' do
        Verwende den "put"-Saver für TiddlyWiki-Versionen 5.2.2 und niedriger.

        = render 'popover_help',
          html_content: 'Standardmäßig wird der Upload-Saver für TiddlyWiki |
            Versionen 5.2.2 und niedriger verwendet. Aktivieren Sie diese Option, wenn Sie stattdessen den „Put”-Saver für |
            diese TiddlyWiki-Versionen verwenden möchten. Siehe auch <a |
            href="https://github.com/tiddlyhost/tiddlyhost-com/wiki/About-the-two-different-save-methods" |
            target="_blank">diese FAQ</a>.' |
