- if @site.is_tw5? || @site.is_tw5x? || @site.new_record?

  = render layout: 'field_wrapper' do
    .form-check.enable-tooltips
      = f.check_box :prefer_upload_saver, class: 'form-check-input'
      = f.label :prefer_upload_saver, class: 'form-check-label' do
        = t('site_view_edit_wiki_advanced_settings_prefer_upload_saver')

        = render 'popover_help',
          html_content: t('site_view_edit_wiki_advanced_settings_prefer_upload_saver_tooltip')

  = render layout: 'field_wrapper' do
    .form-check.enable-tooltips
      = f.check_box :prefer_put_saver, class: 'form-check-input'
      = f.label :prefer_put_saver, class: 'form-check-label' do
        = t('site_view_edit_wiki_advanced_settings_prefer_put_saver')

        = render 'popover_help',
          html_content: t('site_view_edit_wiki_advanced_settings_prefer_put_saver_tooltip')
