= render layout: 'field_wrapper' do
  .form-check.enable-tooltips
    = f.check_box :skip_etag_check, class: 'form-check-input'
    = f.label :skip_etag_check, class: 'form-check-label' do
      = t('site_view_edit_wiki_advanced_settings_skip_etag_check')

      = render 'popover_help',
        html_content: t('site_view_edit_wiki_advanced_settings_skip_etag_check_tooltip')
