-# Votes für diese Site
%div.site-votes{ id: "site_vote_#{site.id}", style: 'font-size: 60%; margin-top: 0rem;' }

  - if site.vote_count > 0
    .d-flex.align-items-center.gap-2
      = star_rating(site.vote_score)
      %span.text-muted
        = sprintf("%.1f", site.vote_score)
        %small (#{site.vote_count})

  - if user_signed_in?
    - user_vote = site.site_votes.find_by(user: current_user)

    = form_with url: site_site_vote_path(site),
               method: :post,
               data: { turbo_stream: true } do |f|

      %details.site-vote-details{ style: 'margin-top: 0rem;' }
        %summary.text-primary.small{ style: 'cursor: pointer;' }
          - if user_vote
            = t('votes.my_rating')
            = ': '
            #{user_vote.value} ★
          - else
            = t('votes.rate_now')

        .mt-1
          .d-flex.gap-1
            - (1..5).each do |val|
              - is_selected = user_vote&.value == val
              %button.btn.btn-sm{ type: 'submit',
                                  name: 'site_vote[value]',
                                  value: val,
                                  class: (is_selected ? 'btn-primary' : 'btn-outline-secondary'),
                                  style: 'font-size: 0.8em; padding: 0.25rem 0.5rem;' }
                ★

  - else
    .text-muted.small
      - if site.vote_count == 0
        = t('votes.no_ratings_yet_login')
      - else
        = t('votes.login_to_rate')