%h1= I18n.t('your_sites')

- if @sites.empty?
  %p= t('click_create_below')

- else
  - if current_user.has_hub_link?
    .th-text-deco-none.th-text-smaller.m-3.mt-2.pt-1
      = link_to_user_hub_with_count(current_user)  # Hier könnte i18n in der Helper-Methode nötig sein, falls Text drin ist

  .float-end.sites-menu-container.small{ style: "margin-top: -0.6rem;" }
    = render 'filter_and_sort', sites: @sites, list_mode: @list_mode, list_mode_next: @list_mode_next  # Partial könnte eigene i18n brauchen

  .ps-1.ms-2.mb-3.th-text-small
    - if @filtered_site_count != @site_count
      = t('showing_filtered_sites', filtered_count: @filtered_site_count, access: params[:access], total_count: pluralize(@site_count, t('sites')))
      = link_to(t('clear_filter'), sites_path(s: params[:s]), style: 'text-decoration: none;') + "."
    - else
      = pluralize(@site_count, t('sites')) + ","
    = t('storage_used', bytes: nice_byte_count(@total_storage_bytes))  # Oder kombiniere es

  -# 'list_view' or 'grid_view'
  = render "#{@list_mode}_view"  # Diese Partials (z. B. list_view.html.haml) müssten auch i18n-isiert werden

.nice-buttons.mx-2.my-4.py-2
  = turbo_off_link_to new_site_path, class: 'btn me-3', title: t('create') do
    = bi_icon('plus-lg', style: "margin-right: 1px;")
    = t('create')

  = turbo_off_link_to '/hub?t=1', class: 'btn me-3', title: t('create_from_template') do
    = bi_icon('files')
    = t('create_from_template')

  - if Settings.tiddlyspot_enabled?
    = link_to({ controller: :tspot_sites, action: :claim_form },
      class: 'btn', title: t('claim_tiddlyspot_site')) do
      = bi_icon('flag')
      = t('claim_tiddlyspot_site')

  - if @filtered_site_count > 0
    = turbo_off_link_to({ controller: :sites, action: :download_all }.merge(params.permit(:q, :kind, :access, :s, :tags)),
      class: 'btn', title: t('download_all', count: pluralize(@filtered_site_count, t('site')))) do
      = bi_icon('file-earmark-zip')
      = t('download_all')