= render layout: 'form_wrapper', locals: { heading: "Zur Seite '#{@site.name}' hochladen" } do

  = form_for(@site, url: { action: :upload, id: @site.id }) do |f|

    = render layout: 'field_wrapper', locals: { pb: 'pb-4' } do
      %b.small.text-danger
        %big
          = bi_icon('exclamation-triangle', fill: '#dc3545', style: 'margin-right: -2px;')
        Gehe vorsichtig vor!

      .small
        Dadurch werden die Inhalte Deiner Seite geloescht und 
        durch die TiddlyWiki-Datei ersetzt, die Du jetzt hochlaedst.
        
        %br
        Du koenntest vielleicht vorher eine Kopie 
        = link_to(download_site_path(@site)) { bi_icon('download') + 'runterladen' }
        , um Datenverlust zu vermeiden.

    = render layout: 'field_wrapper' do
      %label.btn.btn-secondary{ for: 'site_tiddlywiki_file' }
        Waehle eine Datei zum hochladen

      -#
        It is hidden for cosmetic reasons. Clicking the label
        above activates the file select dialog.

      = f.file_field(:tiddlywiki_file, style: 'display: none;')

      - confirmation_text = ["Willst du die Website '#{@site.name}' durch",
        "die TiddlyWiki-Datei ersetzen, die du gerade hochladen willst?",
        "Dieser Vorgang kann nicht rueckgaengig gemacht werden."].join("\n")

      -#
        Also hidden to begin with but will be shown once a file is selected.
        See the code in app/javascript/packs/application.js.

      = f.submit("Upload", data: { confirm: confirmation_text }, id: 'upload-submit',
        style: 'display: none; margin-left: 1em;', class: "form-submit btn btn-primary")

      = link_to 'Abbrechen', sites_url, style: 'margin-left: 1em;'
