= render layout: 'form_wrapper', locals: { heading: I18n.t('action_menu_upload_form_title') + " '#{@site.name}'" } do
  = form_for(@site, url: { action: :upload, id: @site.id }) do |f|
    = render layout: 'field_wrapper', locals: { pb: 'pb-4' } do
      %b.small.text-danger
        %big
          = bi_icon('exclamation-triangle', fill: '#dc3545', style: 'margin-right: -2px;')
        = I18n.t('action_menu_upload_form_warning_hint')

      -# changed the way the link is embedded in the text (with a customizable line break)
      .small
        - line_break = content_tag(:span, '', class: 'd-block', style: 'height: 0.5em; margin: 0.0em 0;')
        - download_link = link_to(download_site_path(@site)) { bi_icon('download') + I18n.t('hub_view_action_menu_download') }
        = raw I18n.t('action_menu_upload_form_text',
          insert_line_break: line_break,
          download_copy_link: download_link)

    = render layout: 'field_wrapper' do
      %label.btn.btn-secondary{ for: 'site_tiddlywiki_file' }
        = I18n.t('action_menu_upload_form_choose_file')

      -#
        It is hidden for cosmetic reasons. Clicking the label
        above activates the file select dialog.

      = f.file_field(:tiddlywiki_file, style: 'display: none;')

      - confirmation_text = ["#{I18n.t('action_menu_upload_form_confirmation_text_before')} '#{@site.name}',
        #{I18n.t('action_menu_upload_form_confirmation_text_after')}"].join("\n")

      -#
        Also hidden to begin with but will be shown once a file is selected.
        See the code in app/javascript/packs/application.js.

      = f.submit("Upload", data: { confirm: confirmation_text }, id: 'upload-submit',
        style: 'display: none; margin-left: 1em;', class: "form-submit btn btn-primary")

      = link_to I18n.t('action_menu_upload_form_cancel'), sites_url, style: 'margin-left: 1em;'
