- heading_text = t('account_created_heading')
- heading_html = bi_icon('check-circle',
    fill: 'green',
    style: 'opacity: 85%; font-size: 65%;') + heading_text

= render layout: 'form_wrapper',
  locals: { heading: heading_html } do
  -# reshaped above due to i18n
  %p.pt-4
  %h3= t('account_created_thanks')

  %p.pb-5
    = t('account_created_confirmation_send')

  %hr.mt-5.mb-4

  %h6.text-muted=t('account_created_help_heading')

  %ul.pt-2.pe-2
    %li.text-muted.pb-3.small
      = t('account_created_help_paragraph_1')
      = link_to t('account_created_help_paragraph_1_link'), new_confirmation_path(:user)
      = t('account_created_help_paragraph_1_2')

    %li.text-muted.small
      - link_text = t('account_created_help_email_me').html_safe
      - email_body = text_join(t('account_created_help_email_me_body'))
      = t('account_created_help_paragraph_2_1')
      = mail_to(Settings.support_email, link_text,
        subject: t('account_created_help_email_me_subject'),
        body: email_body)
      = t('account_created_help_paragraph_2_2')
