= render layout: 'form_wrapper', locals: { heading: 'Konto erstellen',
  intro_text: "Du hast schon ein Konto? Weiter zur #{link_to "Anmeldung", new_user_session_path}."} do

  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|

    = render 'devise/shared/error_messages', resource: resource

    - if Settings.recaptcha_enabled?
      - if flash[:recaptcha_error].present?
        = render layout: 'field_wrapper', locals: { pb: 'pb-0' } do
          .alert.alert-warning
            = flash[:recaptcha_error]

      = recaptcha_v3(action: 'signup')

    -#
      Avoid "timeout-or-duplicate" recaptcha errors when a
      user takes more than two minutes to fill out the form
    :javascript
      setInterval(() => executeRecaptchaForSignup(), 110000)

    = render layout: 'field_wrapper' do
      = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control'
      .small.form-text.text-muted Gib deine E-Mail-Adresse ein

    = render layout: 'field_wrapper' do
      = f.label :name
      = f.text_field :name, autofill: 'off', autocomplete: 'off', class: 'form-control'
      .small.form-text.text-muted Bitte gib deinen Namen ein

    = render layout: 'field_wrapper' do
      = f.label :benutzername
      = f.text_field :username, autofocus: true, autofill: 'off', autocomplete: 'off', class: 'form-control'
      .small.form-text.text-muted Optional. Wähle einen eindeutigen Benutzernamen mit einer Länge zwischen 3 und 30 Zeichen.

    = render layout: 'field_wrapper' do
      = f.label :passwort
      = f.password_field :password, autocomplete: 'new-password', class: 'form-control'
      .small.form-text.text-muted #{Settings.minimum_password_length} Zeichen mindestens

    = render layout: 'field_wrapper' do
      = f.label :passwort_wiederholen
      = f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control'
      .small.form-text.text-muted Zur Bestätigung Passwort erneut eingeben

    = render layout: 'field_wrapper', locals: { pt: 'pt-3' } do
      = f.submit 'Konto erstellen', class: 'btn btn-primary'

    = render 'devise/shared/links'
