
.row.blurb
  .col
    %h4 <center> Wikiwise 
    %p <center> ist eine Tiddlyhost-com TestInstallation, 
<center> einer Rails-Anwendung zum Erstellen und Hosten von TiddlyWiki-Websites. <br>
Entworfen für die Bereitstellung auf #{link_to 'https://tiddlyhost.com', 'https://tiddlyhost.com/'}
<br><br>
Die hier sichtbare Anwendung wird auf einem sporadisch erreichbaren Home-Server betrieben und dient TestZwecken.<br>
<u>Das Erstellen eines Kontos ist hier nicht möglich!</u>
</center><br><br>

.row.blurb
  .col
    %h4 Mein eigenes Wiki in Sekunden
    %p
      Ich erstelle in wenigen Sekunden kostenlos mein eigenes leistungsstarkes, erweiterbares, persönliches Wiki, ohne dass eine Installation erforderlich ist.
      Mache es privat, öffentlich oder präsentiere es auf der 
      #{link_to('Schaufenster-Seite', '/explore')}.      

  .col
    %h4 Unterstützt von TiddlyWiki
    %p

      Tiddlyhost wird unterstützt von #{link_to 'TiddlyWiki', 'https://tiddlywiki.com/'}
      dem revolutionären Open-Source-JavaScript-Wiki. Es unterstützt auch das neue
      superleichte #{link_to 'Feather Wiki', 'https://feather.wiki/'} und das
      alte Original #{link_to 'TiddlyWiki Classic', 'https://classic.tiddlywiki.com/'}.

  .col
    %h4 Vom Entwickler von Tiddlyspot
    %p
      Tiddlyhost ist der sichere, moderne und zuverlässige Nachfolger von Tiddlyspot, dessen Code 
      #{link_to 'open source', 'https://github.com/tiddlyhost/tiddlyhost-com'} ist.
      Weitere Informationen findest du unter #{link_to 'FAQ', 'https://github.com/tiddlyhost/tiddlyhost-com/wiki/FAQ'}
      oder der #{link_to 'About', '/about'}-Seite.

.rounded.mt-3.p-4.th-bg-jumbo.jumbotron{ style: "padding: 1.5em 1.5em 2em 1.5em" }
  %h3 Jetzt loslegen
  = link_to new_user_session_path, class: 'btn btn-lg btn-primary' do
    Anmelden
-#  %span oder    
  = link_to new_user_registration_path, class: 'btn btn-lg btn-primary' do
    Konto erstellen
