- if Settings::Features.startpage_introduction_block_enabled?
    
  .row{ style: "border-color: rgba(0, 124, 14, 0.7); border-style: solid; border-width: thin !important; border-radius: 7px; padding: 0 0 10px; margin-bottom: 30px;"}
  
    %div{ style: "font-size: 1.5em; text-align: center;" }
      = t('startpage_introduction_block_title').html_safe
    %div{ style: "font-size: 0.9em; text-align: center; padding-bottom: 0px; margin-bottom: 0px;" }
      = t('startpage_introduction_block').html_safe

.row.blurb
  .col
    %h4= t('signed_out_col1_heading')
    %p
      = t('signed_out_col1_text')
      #{turbo_off_link_to(t('signed_out_linkto_explore'), '/explore')}.

  .col
    %h4= t('signed_out_col2_heading')
    %p
      = t('signed_out_col2_text').html_safe

  .col
    %h4= t('signed_out_col3_heading')
    %p
      = t('signed_out_col3_text').html_safe

.rounded.mt-3.p-4.th-bg-jumbo.jumbotron{ style: "padding: 1.5em 1.5em 2em 1.5em" }
  %h3= t('get_started_heading')
  = turbo_off_link_to new_user_session_path, class: 'btn btn-lg btn-primary' do
    = t('get_started_button_login')
    
  - if Settings::Features.registration_enabled? == true
    %span= t('get_started_divider')
    = turbo_off_link_to new_user_registration_path, class: 'btn btn-lg btn-primary' do
      = t('get_started_button_signup')
