.row.blurb
  .col
    %h4= t('signed_out_col1_heading')
    %p
      = t('signed_out_col1_text')
      #{turbo_off_link_to(t('signed_out_linkto_explore'), '/explore')}.

  .col
    %h4= t('signed_out_col2_heading')
    %p
      = t('signed_out_col2_text').html_safe

  .col
    %h4= t('signed_out_col3_heading')
    %p
      = t('signed_out_col3_text').html_safe

.rounded.mt-3.p-4.th-bg-jumbo.jumbotron{ style: "padding: 1.5em 1.5em 2em 1.5em" }
  %h3= t('get_started_heading')
  = turbo_off_link_to new_user_registration_path, class: 'btn btn-lg btn-primary' do
    = t('get_started_button_signup')
  %span= t('get_started_divider')
  = turbo_off_link_to new_user_session_path, class: 'btn btn-lg btn-primary' do
    = t('get_started_button_login')
