.row.blurb
  .col
    %h4 <center> Wikiwise  
    <center> ist eine Tiddlyhost-com Test-Installation,
  <center> eine Kopie des Projektarchivs #{link_to 'https://github.com/tiddlyhost/tiddlyhost-com', 'https://github.com/tiddlyhost/tiddlyhost-com'}.
  <center> Tiddlyhost-com ist eine Rails-Anwendung zum Erstellen und Hosten von TiddlyWiki-Websites. <br>
  Entworfen von #{link_to 'Simon Baird', 'https://github.com/simonbaird'} für die Bereitstellung auf #{link_to 'https://tiddlyhost.com', 'https://tiddlyhost.com/'}
  <br><br>
  %p <center>Die hier sichtbare Anwendung bildet eine Kopie als Übersetzung ins Deutsche ab.
  </center><br><br>

.row.blurb
  .col
    %h4 Meine eigenen Wikis in Sekunden 🍀
    %p
      Ich erstelle in wenigen Sekunden mein eigenes leistungsstarkes, erweiterbares, persönliches Wiki, ohne dass eine Installation erforderlich ist.
      Mache es privat, öffentlich oder präsentiere es auf der 
      #{link_to('Schaufenster-Seite', '/explore')}.      

  .col
    %h4 Unterstützt von TiddlyWiki
    %p

      Tiddlyhost wird unterstützt von #{link_to 'TiddlyWiki', 'https://tiddlywiki.com/'}
      dem revolutionären Open-Source-JavaScript-Wiki. Es unterstützt auch das neue
      superleichte #{link_to 'Feather Wiki', 'https://feather.wiki/'} und das
      alte Original #{link_to 'TiddlyWiki Classic', 'https://classic.tiddlywiki.com/'}.

  .col
    %h4 Vom Entwickler von Tiddlyspot
    %p
      Tiddlyhost ist der sichere, moderne und zuverlässige Nachfolger von Tiddlyspot, dessen Code 
      #{link_to 'open source', 'https://github.com/tiddlyhost/tiddlyhost-com'} ist.
      Weitere Informationen findest du unter #{link_to 'FAQ', 'https://github.com/tiddlyhost/tiddlyhost-com/wiki/FAQ'}
      oder der #{link_to 'About', '/about'}-Seite.

.rounded.mt-3.p-4.th-bg-jumbo.jumbotron{ style: "padding: 1.5em 1.5em 2em 1.5em" }
  %h3 Jetzt loslegen
  = link_to new_user_session_path, class: 'btn btn-lg btn-primary' do
    Anmelden
  %span oder    
  = link_to new_user_registration_path, class: 'btn btn-lg btn-primary' do
    Konto erstellen
