%h1= t('support_page_heading')

.my-4
  %h4= t('support_page_subheading').html_safe 

  %p
    = t('support_page_intro_txt').html_safe 

  %ul
    %li
      = link_to Settings.create_issue_url, target: '_blank' do
        = t('support_page_report_to_github')

    %li
      = link_to Settings.create_issue_url, target: '_blank' do
        = t('support_page_suggest_to_github')

    %li
      = mail_to Settings.support_email do
        = t('support_page_send_email')

  %p
    =t('support_page_tiddlyhost_support_txt').html_safe 

.my-5
  %h4= t('support_page_tiddlywiki_subheading').html_safe 

  %p
    = t('support_page_tiddlywiki_support_txt').html_safe 

.my-5
  %h4= t('support_page_featherwiki_subheading').html_safe 

  %p
    =t('support_page_featherwiki_support_txt').html_safe