= render layout: 'form_wrapper', locals: { heading: 'Passwort vergessen?',
  intro_text: "Gib deine E-Mail-Adresse ein, um einen Link zum Zuruecksetzen deines Passworts zu erhalten." } do

  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|

    = render 'devise/shared/error_messages', resource: resource

    = render layout: 'field_wrapper' do
      = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control'

    = render layout: 'field_wrapper', locals: { pt: 'pt-2' } do
      = f.submit 'Link zum Zuruecksetzen des Passworts senden', class: 'btn btn-primary'

    = render 'devise/shared/links'
