- content_for :title, "#{@site.name} – Kommentare"
- return_to = params[:return_to] || hub_path

.container.mt-4
  .row
    .col-lg-8.mx-auto

      %h2.mb-4
        = t('comments.title_comments_for')
        = link_to @site.name, @site.url.presence || @site, target: "_blank", rel: "noopener noreferrer"

      - if @comments.any?
        - @comments.each do |comment|
          .card.mb-3{ id: "comment_#{comment.id}" }
            .card-body
              .d-flex.justify-content-between
                %strong
                  = comment.user.username.presence || comment.user.email
                %small.text-muted
                  = l(comment.created_at, format: :long)
                  - if comment.edited_at.present?
                    %br
                    %small 
                    = t('comments.edited')
                    = l(comment.edited_at, format: :long)

              .mt-2
                = simple_format(comment.body)

              .text-muted.mt-2
                -#Score: #{comment.score}
                - if user_signed_in? && (comment.user == current_user || user_is_admin?)
                  %br
                  %br
                    = link_to t('comments.delete_button'), 
                              site_comment_path(@site, comment),
                              method: :delete,
                              data: { confirm: t('comments.delete_confirm'), turbo_method: :delete },
                              class: 'btn btn-outline-danger btn-sm px-4 small ms-3 d-block text-center',
                              style: 'font-size: 60%; text-decoration: none;'
                      
      - else
        %p.text-muted Keine Kommentare vorhanden.

      -# Optional: Zurück-Link
      - if request.referer && !request.referer.include?("/comments")
        .mt-5.text-center
          .d-inline-flex.gap-3.justify-content-center
            = link_to t('comments.back_to_previous_page'), request.referer,
              class: 'btn btn-outline-secondary px-4'

      = link_to t('comments.go_to_explore_view'), hub_path,
        title: t('comments.go_to_explore_view'),
        class: 'btn btn-outline-secondary px-4'